<div class="card border-0 shadow-sm mb-5">
    <div class="card-header bg-primary text-white">
        <h5 class="mb-0"><i class="fas fa-users me-2"></i>About the Developers</h5>
    </div>
    <div class="card-body bg-dark text-white">
        <div class="row align-items-center mb-4">
            <div class="col-md-2 text-center mb-3 mb-md-0">
                <img src="/img/kent.png" alt="Kent Russel Balajadia" class="rounded-circle img-fluid" style="width: 130px; height: 130px; object-fit: cover; border: 3px solid #0d6efd;">
            </div>
            <div class="col-md-10">
                <h4 class="mb-1">Kent Russel Balajadia</h4>
                <p class="mb-1">Section: 3BSCS1, Bachelor of Science in Computer Science</p>
                <p class="mb-1"><i class="fab fa-github me-2"></i><a href="https://github.com/kentrussel-dev" target="_blank" class="text-white text-decoration-underline">github.com/kentrussel-dev</a></p>
                <p class="mb-0"><i class="fas fa-envelope me-2"></i><a href="mailto:kent.balajadia@neu.edu.ph" class="text-white text-decoration-underline">kent.balajadia@neu.edu.ph</a></p>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-md-2 text-center mb-3 mb-md-0">
                <img src="/img/jorem.png" alt="Jorem Blue Bonador" class="rounded-circle img-fluid" style="width: 130px; height: 130px; object-fit: cover; border: 3px solid #0d6efd;">
            </div>
            <div class="col-md-10">
                <h4 class="mb-1">Jorem Blue Bonador</h4>
                <p class="mb-1">Section: 3BSCS1, Bachelor of Science in Computer Science</p>
                <p class="mb-1"><i class="fab fa-github me-2"></i><a href="https://github.com/JoremBlue" target="_blank" class="text-white text-decoration-underline">https://github.com/JoremBlue</a></p>
                <p class="mb-0"><i class="fas fa-envelope me-2"></i><a href="mailto:joremblue.bonador@neu.edu.ph" class="text-white text-decoration-underline">joremblue.bonador@neu.edu.ph</a></p>
            </div>
        </div>
        <hr class="bg-secondary mt-4">
        <p class="mb-0 text-center">We are the developers of this website. Thank you for exploring our A* Algorithm Demo!</p>
    </div>
</div>
